<!-- views/index.ejs -->
<% if (messages.success) { %>
  <div class="flash flash-success"><%= messages.success %></div>
<% } %>

<h1>Azure Databox IOT Emulator</h1>
<a href="console">Access to console</a>
<h3>Based on Azure Raspberry-Pi emulator</h3>
<h5>GitHub Projects:</h5>
<h6><a href="https://github.com/sysarchitek/DataBox.Console">Console: Node.js</a></h4>
<h6><a href="https://github.com/sysarchitek/DataBox.raspberry-pi-web-simulator">Raspbery Pi: Native-React <b>hosted</b> on Node.js</a></h4>
<h6><a href="https://github.com/sysarchitek/DataBox.geotracking">Geotracking: Node.js</a></h4>